<div class="text-bg-dark mx-0">
    <div id="Top-image">
        <h1 class="text-center text-white mb-5">Fantasy Time</h1>
    </div>
    <div class="bg-dark mt-4">
        <div class="container my-4">
            <div class="text-center">
                <p>
                    <i>
                    Benvenuti nel meraviglioso mondo del medieval fantasy! <br>
                    Il nostro sito è un'incantevole oasi digitale dove potrete immergervi in epoche leggendarie, 
                    popolate da cavalieri valorosi, maghi potenti e creature mistiche.<br>
                    Qui, viaggierete attraverso mondi incantati, esplorando l'arte straordinaria che cattura l'essenza dell'epoca medievale con un tocco di magia e fantasia. <br>
                    Siamo appassionati di condividere con voi le creazioni degli artisti più talentuosi che danno vita a questi mondi, 
                    quindi preparatevi a un'esperienza visiva unica e affascinante.<br>
                    Che voi siate amanti dell'avventura, della storia o dell'arte, troverete sicuramente qualcosa che vi incanterà.<br>
                     Benvenuti nel vostro viaggio nel tempo e nello spazio, dove il passato e il fantastico si fondono in immagini straordinarie.
                    </i>
                </p>
            </div>
            <hr>
            <h3 class=" text-center">Condividi i tuoi momenti</h3>
<!--Form-->
            <div class="mx-2" id="form">
                <form #iForm="ngForm" (ngSubmit)="submitForm(iForm)" >
                    <!--Title-->
                    <!--<div >
                        <label for="title" class="form-label">Titolo</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>-->

                    <!--Image-->
                    <div class="d-flex justify-content-center">
                        <div class="card text-bg-dark border-light mb-3 w-100">
                            <div class="card-body text-center">
                                <label for="image" class="form-label mt-1 "><h5>Carica immagine</h5></label>
                                <input (change)="submitArchivio($event)" class="form-control" 
                                        type="file" id="image" accept="image/*" name="image" required ngModel>
                                <button type="submit"  class="btn btn-outline-success mt-3">Crea Post</button>
                            </div>
                        </div>
                    </div>

                    <!--Description-->
                    <!--<div>
                        <label for="description" class="form-label mt-1">Descrizione</label>
                        <textarea class="form-control" id="description" name="description"  ></textarea>
                    </div>-->            
                </form>
                <hr>
<!-- Ricerca -->
                <div class="d-flex justify-content-center">
                    <div class="card text-bg-dark border-light mb-3 w-100">
                        <div class="card-body text-center">
                            <label for="search" class="form-label mt-1 "><h5>Cerca immagine</h5></label>
                            <input [(ngModel)]="searchTerm" class="form-control" type="text" placeholder="Cerca per nome" name="search">
                            <button (click)="searchImageByName(searchTerm)" class="btn btn-outline-danger mt-2">Cerca</button>
                            <div *ngIf="imageNotFound" class="col">
                                <div class="alert alert-danger" role="alert">
                                    <h6>Immagine non trovata</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row row-cols-1 row-cols-md-3 g-3">
                      <div  *ngFor="let image of filteredImages" class="col" (click)="openImage(image.url, image.name)">
                        <div class="card border-dark" id="filterImage">
                          <img [src]="image.url" class=" rounded" alt="FilterImage">
                        </div>
                      </div>
                    </div>   
                </div>
            </div>
            <hr>
        </div>
<!--Lista Immagini-->
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-3">
                <div *ngFor="let image of images" class="col" (click)="openImage(image.url, image.name)">  
                    <div class="card text-bg-dark" id="card">
                        <img [src]="image.url" class="card-img img-fluid rounded" alt="image">
                        <div class="card-img-overlay">
                            <h6 class="card-title">{{ image.name }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center my-4">
        <hr>
        <a href="#" class="text-bg-dark link-offset-2 link-underline link-underline-opacity-0"><h5>Back to Top</h5></a>
    </div>
    
    <footer class="bg-dark" id="Bottom-image">
        <div class="container text-center">
            <p class="mx-1 "><b>©EPICODE</b></p>
        </div>
    </footer>
</div>
